<% @team.users.each  do |u| %>
  <h1><%=u.username%></h1>
<% end %>

<h1><%= link_to "Add Players", new_team_path%></h1>
<h1><%= link_to "Destroy", team_path(@team), method: :delete, data: {confirm: "Are you sure?"} %> </h1>

