<h1><%= @message.subject%></h1>
<h2><%= @message.body %></h2>
<% if @message.team_invite%>
  <h1><%= link_to "Accept Invite", edit_team_user_path(@message.team_id, @user.id) %> </h1>
<% end %>
<%= link_to "Reply", new_user_message_path(@message.source_user_id)%>
