<h1>test</h1>
<div class="navbar-header">
  <% @platform.each do |platform| %>
    <%= link_to platform.name, platform_path(platform.id)  %>
  <% end %>
  <%= link_to "Add Platform", new_platform_path %>
</div>
