<h1><%= link_to "Create Match", new_team_match_path(@team.id)%></h1>
<% @match.each do |match| %>
  <h3><%=match.match_time%></h3>
  <% if match.chlg_team_id == @team.id %>
      <h3><%= link_to "View Match", team_match_path(@team.id, match.id)%></h3>
    <% else %>
      <h3><%= link_to "Accept Match", team_match_path(@team.id, match.id)%></h3>
    <%end %>
<% end %>
